{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "consistent-return": 0,
    "curly": 2,
    "eqeqeq": 2,
    "eol-last": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],
    "no-multiple-empty-lines": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-use-before-define": [2, "nofunc"],
    "object-curly-spacing": [2, "always"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "radix": 2,
    "keyword-spacing": 2,
    "space-before-blocks": [2, "always"],
    "space-in-parens": [2, "never"],
    "space-unary-ops": [2, {
      "words": true,
      "nonwords": false
    }],
    "strict": [2, "never"],
    "valid-jsdoc": [2, {
      "prefer": {
        "return": "returns"
      }
    }],
    "wrap-iife": [2, "inside"]
  },
  "extends": "eslint:recommended"
}
